.component-tour-dates {
    .timeline-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .component-timeline {
        vertical-align: middle;
        margin-top: 20px;
    }
}
